.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: white;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.top-text, .bottom-text{
  position: absolute;
  content: attr(data-value);
  font-size: 1.5rem;
}

.top-text {
  top: .5rem;
  left: .5rem
}

.bottom-text {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}