.app {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: 8rem 8rem;
  grid-template-rows: 14rem 3rem 4rem;
  gap: 1rem;
}

.lower, .higher {
  height: 3rem;
  border-radius: 0.5rem;
  background-color: aqua;
  cursor: pointer;
  font-size: 1.5rem;
}

.blank {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: .5rem;
  color: white;
  user-select: none;
  background-color: blue;
}

.status {
  grid-column: 1 / span 2;
  font-size: 2rem;
}